* {
  margin: 0
  
}

body {
  background-color: #f5f6fa;
  font-family: sans-serif;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app-dropdown {
  background-color:#f5f6fa;
}

.app-header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app-header {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.app-left {
  flex: 0.9;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

.app-right {
  display: flex;
  justify-content: space-between;
}

.app-right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}